*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, sans-serif;
    line-height: 1.5;
}


header, main, footer {
    max-width: 640px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

header {
    display: flex; 
    flex-direction: column;
    gap: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    }

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

p {
    margin: 0;
}